[submodule "DutchBot"]
	path = DutchBot
	url = https://github.com/DutchDude/DutchBot.git
[submodule "DutchBot-Modules"]
	path = DutchBot-Modules
	url = https://github.com/DutchDude/DutchBot-Modules.git
